/* app css stylesheet */

.app_form {
    text-align: center;
    height: 50vh;
    margin-top: 25vh;
}

.app_form form {
    display: inline-block;
}

.app_form input {
    width: 200px;
    margin-bottom: 10px;
}
